<%- include ('../partials/header') %>

<div class="banner">
    <div class="container">
      <div class="banner-content">
        <h1 class="header">
          What We Do
        </h1>
       <p>Connex'nShare is a hub for everyone in local to publish services as well as sharing tips or looking for missing things easier</p>
       <p>Understanding that Covid-19 has affected to many local business and people, Connex'nShare has made this place for people in Simcoe County to share tips and post services during this frustrated time </p>
       <p>This is an open place and non-profit organization</p>
       <p>Our purpose simply just "Connex People in Local together"</p>
        <div class="btn-section" >
        <a href="./connections/new" class="btn">Create Your Post Now</a>
        <a href="./connections" class="btn">Explore Our New Post Now</a>
      </div>  
      </div>
    </div>
  </div>
  <%- include ('../partials/footer') %>