<%- include ('../partials/header') %>

<header class="home-cta"></header>
<div class="banner">
  <div class="container">
    <div class="banner-content">
      <h1 class="header">
        Welcome to Connex'nShare Website!
      </h1>
      <h4>A place to connex local people and local services with freedom </h4>
      <div class="btn-section" >
      <a href="./about" class="btn">What We Do</a>
      <a href="./connections" class="btn">Explore Our New Feed Now</a>
    </div>  
    </div>
  </div>
</div>


<%- include ('../partials/footer') %>
